<div class="country__ttl">
    <h1 class="country__name">{{name}}</h1>
    <ul class="country__info">
        <li class="country__capital item">
            <b class="country__capital_b">Capital: </b>{{capital}}
        </li>
        <li class="country__population item">
            <b class="country__population_b">Population: </b>{{population}}
        </li>
        <li class="country__languages item">
            <b class="country__capital_b">Languages: </b>
            <ul class="country__languages">
                {{#each languages}}
                <li class="country__language_one">{{this}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
<div class="country__flag">
    <img class="flag__img" src="{{flag}}" alt="{{name}}" />
</div>